/****************
 *General styles*
 ****************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /*background: url("fishy.jpg");
  background-size: cover;*/
  background-color: lightblue;
  color: brown;
  text-align: center;
  margin: 0.5rem;
}

/*Invisible elements*/
.invisible {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/****************
 *Row-level divs*
 ****************/

/*Common header/footer style*/
.dark {
 color: lightgray;
 background-color: darkblue;
 padding: 0.5rem;
}

.main-row {
  display: flex;
  justify-content: space-around;
}

.main-row > section {
  margin: 0.5rem;
  border: 0.125rem orange solid;
}

/*************
 *Banner divs*
 *************/

#start-button {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: white;
}

/********************
 *Main area sections*
 ********************/

 .sidebar {
   background-color: lightgray;
   padding: 0.5rem;
   flex-basis: 25%;
 }

.instructions {
  order: 0;
}

.game-area {
  display: flex;
  color: lightgray;
  background-color: black;
  order: 2;
  width: 372px;   /*Set manually based on size of squares, width of playfield and width of nextbox.*/
}

.high-scores {
  order: 4;
}

/****************
 *Game area divs*
 ****************/

.grid {
  width: 240px; /*Manual from squares per row and width of squares*/
  height: 480px;  /*Same, except for column.*/
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 20px; /*Manual, square dimension*/
  width: 20px;  /*Manual, square dimension*/
}

.grid.paused > div {
  display: none;
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.status > div {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.next-area h3 {
  margin-bottom: 0px; /*Use only the margin for the next-box*/
}

.next-box {
  height: 80px;
  width: 80px;
  border: 0.25rem red solid;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  margin: 20px; /*Should equal the dimension of squares. An alternative is to use 1rem (will need to adjust other elements)*/
  box-sizing: content-box;
}

.next-box div {
  height: 20px;
  width: 20px;
}

/******************
 *Playfield styles*
 ******************/

/*Adding color schemes to the different shapes*/
.purple {
  background-color: purple;
  border: 1px pink solid;
}

.orange {
  background-color: orange;
  border: 1px #FFFFAA solid;
}

.gray {
  background-color: lightgray;
  border: 1px white solid;
}

/*Next box tetrimino*/
.next {
  background-color: black;
  border: 1px gray solid;
}

/*invisible squares at the top of the play area (hides falling blocks)*/
.roof {
  background-color: white;
  border: 1px white solid;
}

/*Walls and floor of the play area. Should override all other play area styles.*/
.wall {
  background-color: gray;
  border: 1px gray solid;
}

/*************
 *Footer divs*
 *************/

.footer-cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*******************
 *JS related styles*
 *******************/

/*Styling collapse controlling button(heading) for instructions*/
.collapsing {
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: 0.125rem solid #777;
  border-radius: 0.5rem;
  text-align: center;
  outline: none;
}

.active, .collapsing:hover {
  background-color: #ccc;
}

/*Start button styles*/
#start-button.running {
  background-color: red;
}

#start-button.stopped, #start-button.initial {
  background-color: green;
}

#start-button.dead {
  background-color: black;
}

/*******************
 *Responsive styles*
 *******************/

@media all and (max-width: 900px) {
  .main-row {
    flex-direction: column;
    align-items: center;
  }

  .instructions {
    order: 3;
    width: 100%;
  }

  .instructions > p {
    display: none;
  }

  .high-scores {
    width: 100%;
  }

  .footer-cols {
    flex-direction: column;
  }
}
