body {
  /*background: url("fishy.jpg");
  background-size: cover;*/
  background-color: lightblue;
  color: brown;
  text-align: center;
}

.main-row {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.game-area {
  display: flex;
  align-items: center;
  background-color: black;
  flex-basis: 25%;
  border: 2px orange solid;
}

.instructions {
  background-color: lightgray;
  padding: 10px;
  flex-basis: 25%;
  border: 2px orange solid;
}

.high-scores {
  background-color: lightgray;
  padding: 10px;
  flex-basis: 25%;
  border: 2px orange solid;
}

.grid {
  width: 240px;
  height: 480px;
  background-color: lightblue;
  /*background-color: #FFFF88;*/
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 20px;
  width: 20px;
}

.next-box {
  height: 80px;
  width: 80px;
  border: 4px red solid;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  margin-left: 40px;
}

.next-box div {
  height: 20px;
  width: 20px;
}

.tetrimino {
  background-color: orange;
  box-sizing: border-box;
  border: 1px #FFFFAA solid;
}

.next {
  background-color: black;
  box-sizing: border-box;
  border: 1px gray solid;
}

.occupied {
  background-color: white;
  border: 1px lightgray solid;
}

.roof {
  background-color: white;
  box-sizing: border-box;
  border: 1px white solid;
}

.wall {
  background-color: gray;
  box-sizing: border-box;
  border: 1px gray solid;
}

.grid.paused > div {
  display: none;
}
