body {
  /*background: url("fishy.jpg");
  background-size: cover;*/
  background-color: lightblue;
  color: brown;
  text-align: center;
  margin: 0.5rem;
}

/****************
 *Row-level divs*
 ****************/

/*Common header/footer style*/
.dark {
 color: lightgray;
 background-color: darkblue;
 padding: 0.5rem;
}

.main-row {
  display: flex;
  justify-content: space-around;
}

.main-row > div {
  margin: 8px;
}

/*************
 *Banner divs*
 *************/

#start-button {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: green;
  color: white;
}

/****************
 *Main area divs*
 ****************/

.instructions {
  order: 0;
}

.game-area {
  display: flex;
  color: lightgray;
  background-color: black;
  border: 2px orange solid;
  order: 2;
  width: 360px;
}

.high-scores {
  order: 4;
}

.sidebar {
  background-color: lightgray;
  padding: 8px;
  flex-basis: 25%;
  border: 2px orange solid;
}

/****************
 *Game area divs*
 ****************/

.grid {
  width: 240px;
  height: 480px;
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 20px;
  width: 20px;
}

.grid.paused > div {
  display: none;
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.status > div {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.next-area h3 {
  margin-bottom: 0px;
}

.next-box {
  height: 80px;
  width: 80px;
  border: 4px red solid;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  margin: 20px;
}

.next-box div {
  height: 20px;
  width: 20px;
}

/******************
 *Playfield styles*
 ******************/

/*Currently controlled tetrimino*/
.tetrimino {
  background-color: orange;
  box-sizing: border-box;
  border: 1px #FFFFAA solid;
}

/*Adding color schemes to the different shapes*/


/*Next box tetrimino*/
.next {
  background-color: black;
  box-sizing: border-box;
  border: 1px gray solid;
}

/*occupied squares (not walls)*/
.occupied {
  background-color: white;
  border: 1px lightgray solid;
}

/*invisible squares at the top of the play area (hides falling blocks)*/
.roof {
  background-color: white;
  box-sizing: border-box;
  border: 1px white solid;
}

/*Walls and floor of the play area. Should override all other play area styles.*/
.wall {
  background-color: gray;
  box-sizing: border-box;
  border: 1px gray solid;
}

/*************
 *Footer divs*
 *************/

.footer-cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*******************
 *Under development*
 *******************/

.collapsing {
  cursor: pointer;
  padding: 18px;
  width: calc(100% - 38px);
  border: 2px solid #777;
  border-radius: 8px;
  text-align: center;
  outline: none;
}

.active, .collapsing:hover {
  background-color: #ccc;
}

@media all and (max-width: 900px) {
  .main-row {
    flex-direction: column;
    align-items: center;
  }

  .instructions {
    order: 3;
    width: calc(100% - 20px);
  }

  .instructions > p {
    display: none;
  }

  .high-scores {
    width: calc(100% - 20px);
  }

  .footer-cols {
    flex-direction: column;
  }
}
